<figure class="item" style="--_item-color: {{item.color}}">
    <div class="itemIcon">{{item.icon}}</div>
    <div class="itemModal">
        {% comment %} <div class="itemIcon">{{item.icon}}</div> {% endcomment %}
        <h4>{{item.name}}</h4>
        <p>{{item.description}}</p>
    </div>
</figure>