<figure class="team" style="--_team-color: {{team.color}}">
    <h3> <span class="teamIcon">{{team.icon}}</span> {{team.name}} <span class="teamIcon">{{team.icon}}</span></h3>
    <h4> {{team.subtitle}} </h4>
    <div class="itemGallery" style="font-size: 0.8em;">
        {% for item in team.items %}
            {% include "item.liquid" %}
        {% endfor %}
    </div>
</figure>